﻿@page
@model Alfasoft_Test.Pages.Contacts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.ContactNumber)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.IsDeleted)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Contact?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
