﻿@page
@model Alfasoft_Test.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User?.Identity?.IsAuthenticated == true)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].ContactNumber)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Contact[0].IsDeleted)
            </th> *@
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            @{
                /*<td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
                */
            }

            @if (User?.Identity?.IsAuthenticated == true) {
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
